<div class="col-md-12" style="text-align: center; margin-top: 100px;">
    
    <div class="col-md-6 col-md-offset-3">
<img src="assets/bogger_boost2.png" alt="Bogger Boost Logo" style="width: 150px;">
    
    <form class="form-login">
      <div class="spacing"> 
        <label for="inputEmail" class="sr-only">Employee ID</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Employee ID" required="" autofocus="">
</div>
        <!-- <div class="spacing">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    </div> -->
            <div class="spacing">

        <button class="btn btn-lg btn-primary btn-block" (click)="goToHome()" type="submit">Login</button>
    </div>
      </form>


</div>



</div>
