#throughput-box {
	background-image: url('./../../assets/throughput.png');
	background-size: 260px auto;
	background-position: center;
	font-weight: bolder;
	background-repeat: no-repeat;
	min-height: 300px;
	text-align: center;
	color: #FF9700;
	padding-top: 105px;
}

#throughput-box h1 {
	margin-top: 0;
	font-size: 70px;
	font-weight: 200;
}

#throughput-box h1 span {
	font-size: 30px;
}

#throughput-box h3 {
	font-size: 18px;
}

#throughput-info {
	color: #FF9700;
	text-align: center;
}

#throughput-info p {
	letter-spacing: 1.5px;
}

#throughput-info h3 {
	font-weight: 300;
	letter-spacing: 3px;
}

#throughput-info p {
	color: #FFFA3B;
}
