#throughput-box {
	background-image: url('./../../assets/throughput.png');
	background-size: 260px auto;
	background-position: center;
	font-weight: bolder;
	background-repeat: no-repeat;
	min-height: 300px;
	text-align: center;
	color: #FF9700;
	padding-top: 110px;
}

#throughput-box h1 {
	margin-top: 0;
	font-size: 48px;
}

#throughput-box h1 span {
	font-size: 30px;
}

#throughput-box h3 {
	margin-top: 200px;
}

#throughput-info {
	color: #FF9700;
	text-align: center;
}
