#timer-box{
    background-image: url('./../../assets/stopwatch.png');
    background-size: 220px auto;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 300px;
		text-align: center;
		padding-top: 130px;
		color: #279EFF;
}

#timer-box h1 span {
	font-size: 30px;
}

#timer-box h1 {
	font-size: 70px;
	margin-top: 0;
	font-weight: 200;
}

#timer-info h3 {
	color: #279EFF;
	margin-bottom: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

#timer-box {
	letter-spacing: 3px;
	font-weight: 300;
}

#timer-box h4 {
	font-size: 18px;
}

#timer-info {
	text-align: center;
	color: white;
}

#timer-info h1 {
	margin: 0;
	font-size: 48px;
	font-weight: 200;
}

#timer-info h4 {
	margin: 0;
	color: #279EFF;
	font-weight: 200;
}
