<div class="row" id="homepage-container">
  <div class="row" style="text-align:center;">
    <h2 style="color:#fff; font-weight:bold; font-size: 30pt;" (click)="logout()">Operator:
      {{operatorName}}
    </h2>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="progress-bar-container">
      <h3 style="color:#fff;">Your team's total tonnage</h3>
      <div class="row">
        <div class="col-md-9">
          <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" [ngStyle]="{'width': this.currentTeamThroughput * 100 / this.teamThroughputGoal + '%' }" aria-valuemin="0" aria-valuemax="100">
              {{this.currentTeamThroughput * 100 / this.teamThroughputGoal}}% Complete (success)

            </div>
          </div>
        </div>
        <div style="color:#fff;" class="col-md-3" style="font-size: 140%; color: white !important;">
          {{currentTeamThroughput}}/{{teamThroughputGoal}}
          tons
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="widget-box">
    <app-fuel-widget></app-fuel-widget>
    <app-throughput-widget></app-throughput-widget>
	<app-time-widget></app-time-widget>
  </div>
</div>
