
#progress-bar-container{
    text-align: center;
}

#widget-box{
    margin: 40px -60px 0px -60px;
    height: 400px;
}

#widget-box > div{
    text-align: center;
    height: 100%;
    padding: 130px 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top;
}

.throughput-loading-bar{
    height: 30px;
}

.throughput-loading-bar > div{
    padding-top: 5px;
    font-size: 120%;
    color: black !important;
}
