<div class="row" id="homepage-container">
  <div class="row" style="text-align:center;">
    <h2 id="operator-name" (click)="logout()">
      {{operatorName}}
    </h2>
  </div>

  <div class="row">

    <div class="col-md-2 col-md-offset-1">
      <div class="personal-tonnage">
        <p>Personal total tonnage:</p>
        <h1>
          <img src="assets/person.png">
          {{personalTonnage}}
          <span>t</span>
        </h1>
      </div>
    </div>

    <div class="col-md-6" id="progress-bar-container">
      <div class="row">
        <div class="col-md-9">
            <div class="row">
                <h3 style="color:#fff;">Your team's total tonnage</h3>
            </div>
          <div class="progress throughput-loading-bar">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" [ngStyle]="{'width': this.currentTeamThroughput * 100 / this.teamThroughputGoal + '%' }" aria-valuemin="0" aria-valuemax="100">
              {{this.currentTeamThroughput * 100 / this.teamThroughputGoal}}% <span>Complete (success)</span>
            </div>
          </div>
        </div>
        <div style="color:#fff;" class="col-md-2 percentage-counter" style="font-size: 140%; color: white !important;">
          {{currentTeamThroughput}}/{{teamThroughputGoal}}
          tons
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="widget-box">
    <app-fuel-widget></app-fuel-widget>
    <app-throughput-widget></app-throughput-widget>
    <app-time-widget></app-time-widget>
  </div>
</div>
