.personal-tonnage{
    color: #00dd90 !important;
    text-align: center;
    border: 3px solid #00dd90;
    border-radius: 7px;
    width: 170px;
    padding: 5px 0px;
    transition: all 0.3s ease-in-out;
}

.personal-tonnage h1{
    margin-top: 5px;
}

.personal-tonnage h1 img{
    width: 20%;
    margin-top: -6px;
}

.personal-tonnage:hover{
    transform: scale(1.05);
    border-color: #66ffc9;
    color: #66ffc9 !important;
}

.personal-tonnage span{
    font-size: 80%;
}
#progress-bar-container{
    text-align: center;
}

#widget-box{
    margin: 40px -60px 0px -60px;
    height: 400px;
}

#widget-box > div{
    text-align: center;
    height: 100%;
    padding: 130px 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top;
}

.throughput-loading-bar{
    height: 30px;
}

.throughput-loading-bar > div{
    padding-top: 5px;
    font-size: 120%;
    color: black !important;
}
