#homepage-container{
    margin-top: 40px;
}

.cycle-time{
    color: White !important;
    text-align: center;
    border: 3px solid White;
    border-radius: 7px;
    width: 170px;
    padding: 5px 0px;
    transition: all 0.3s ease-in-out;
}

.cycle-time h1{
    margin-top: 5px;
}

.cycle-time h1 img{
    width: 25%;
    margin-top: -6px;
}

.cycle-time:hover{
    transform: scale(1.05);
}

.percentage-counter{
    margin-top: 30px;
}

.personal-tonnage{
    color: White !important;
    text-align: center;
    border: 3px solid White;
    border-radius: 7px;
    width: 170px;
    padding: 5px 0px;
    transition: all 0.3s ease-in-out;
}

#operator-name {
	font-size: 24px;
  font-weight: 300;
  color: #999;
}

.personal-tonnage h1{
    margin-top: 5px;
}

.personal-tonnage h1 img{
    width: 20%;
    margin-top: -6px;
}

.personal-tonnage:hover{
    transform: scale(1.05);
}

.personal-tonnage span{
    font-size: 80%;
}
#progress-bar-container{
    text-align: center;
    margin-left: 30px;
}

#widget-box{
    margin: 70px -60px 0px -60px;
    height: 400px;
}

#widget-box > div{
    text-align: center;
    height: 100%;
    padding: 130px 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top;
}

.throughput-loading-bar{
    height: 30px;
}

.throughput-loading-bar > div{
    padding-top: 6px;
    font-size: 110%;
}

.relativeProgressBar {
    position:relative;
}

.verticalLine{
    border-left: thick solid #ff8230;
    position: absolute;
    right: -25px;
    height: 50px;
    top: -20px;

}
